h1 {
  margin-top: 0;
}

hr {
  margin: 30px 0px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
textarea {
  font: 1em sans-serif;
  width: 250px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input[type='checkbox'],
input[type='radio'] {
  width: auto;
  border: none;
}

input:focus,
textarea:focus {
  border-color: #000;
}
